
<h3 class="first">Felhasználó hozzáadása</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
            <span style="padding-right : 80px" class="ui-inputgroup-addon">Név:</span>
            <input style="padding-right : 12px" [(ngModel)]="name" type="text" pInputText >         
        </div>
    </div>
       
    <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
            <span style="padding-right : 70px" class="ui-inputgroup-addon">Email:</span>
            <input style="padding-right : 12px" [(ngModel)]="email" type="text" pInputText >      
        </div>
    </div>
	
    <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
            <span  style="padding-right : 80px" class="ui-inputgroup-addon">Cím:</span>
            <input style="padding-right : 12px" [(ngModel)]="addr" type="text" pInputText >   
                
        </div>
    </div>
	
    <div class="ui-g-12 ui-md-12">
        <div class="ui-inputgroup">
            <span style="padding-right : 9px" class="ui-inputgroup-addon">Születési dátum</span>
			<p-calendar [(ngModel)]="dob" [showIcon]="true"></p-calendar>			
        </div>
    </div>	
</div>

<p-button  icon="pi pi-check" label="Hozzáad" (click)="submitBtnClick()" ></p-button>